.h1
{
    text-align: center;
    color: #151515;
    height: 130px;
    padding-top: 30px;
    letter-spacing: 0.10em;/*设置字符间距*/
    font-size: 3.5em;/*设置字体大小*/
    font-weight: 600;/*设置字体粗细*/
}
/*********************************************************************************/
/* 全局中心布局 Styles                                                            */
/*********************************************************************************/
#global_main
{
    position: relative;
    min-height: 1030px;
    height: auto;
    width: auto;
}
/*********************************************************************************/
/* 头部div Styles                                                                */
/*********************************************************************************/
#header_main
{
    position: absolute;/*绝对定位：流体属性*/
    top:50px;
    left:350px;
    /*border:1px solid #151515;*/
    border-top:1px solid #151515;
    border-left:1px solid #151515;
    border-right:1px solid #151515;
    height:100px;
    width: 800px;
}

/*********************************************************************************/
/* 内容div Styles                                                                */
/*********************************************************************************/
/*主内容核心*/
#content_main
{
    position: absolute;/*绝对定位：流体属性*/
    top:150px;
    left:350px;
    /*border:1px solid #151515;*/
    border-left:1px solid #151515;
    border-right:1px solid #151515;
    height:700px;
    width: 800px;
}

/*table*/
#content_main_table
{
    position: absolute;/*绝对定位：流体属性*/
    top:0px;
    left:100px;
    /*border:1px solid #151515;*/
    height:480px;
    width: 600px;
}
/*相关属性字体大小、背景色*/
#content_main td
{
    font-size: 20px;
}
#content_main_table input[type="text"],
select,
textarea
{
    font-size: 20px;
    background: rgba(144, 144, 144, 0.25) url(../img/bg.png);
    resize:none;/*禁止拖动，固定其大小，主要针对textarea*/
}

/*游戏介绍*/
#content_main_info
{
    position: absolute;/*绝对定位：流体属性*/
    top:480px;
    left:0px;
    /*border:1px solid #151515;*/
    height:210px;
    width: 750px;
}
/*当鼠标在条目上时的颜色*/
#content_main_info .gradient-style tbody tr:hover td
{
    background: #dfdfdf  repeat-x;
    color: #151515;
}
/*********************************************************************************/
/* 底部操作div Styles                                                             */
/*********************************************************************************/

#action_main
{
    position: absolute;/*绝对定位：流体属性*/
    top:850px;
    left:350px;
    /*border:1px solid #151515;*/
    border-bottom:1px solid #151515;
    border-left:1px solid #151515;
    border-right:1px solid #151515;
    height:80px;
    width: 800px;
}

#space1
{
    position: absolute;/*绝对定位：流体属性*/
    top:20px;
    left:220px;
}
#space2
{
    position: absolute;/*绝对定位：流体属性*/
    top:20px;
    left:430px;
}
/*********************************************************************************/
/* 只读文本框 Styles                                                             */
/*********************************************************************************/
#content_main_table input[readonly],
#content_main_table input[readonly]:focus
{
    background: #ffffff;
    border: none;
    color: #151515;
}